footer {
  background: $primary-color;
  border-top: 5px solid $dark-primary-color;
  color: white;
  padding: $padding-mobile;
  h4 {
    padding: $padding-mobile;
    text-decoration: underline;
  }
  section {
    float: left;
    width: 50%;
    text-align: center;
  }
  ul, li, a {
    display: block;
  }
  a {
    padding: $padding-mobile;
  }
}