// Variables
$font: Ubuntu, sans-serif;
$padding-mobile: 5px 10px;
$button-radius: 5px;
$primary-color: #008EFF;
$light-primary-color: lighten($primary-color, 15%);
$dark-primary-color: darken($primary-color, 15%);
$shadow: 0 1px black;
$media-tablet: "all and (min-width: 768px)";
$media-desktop: "all and (min-width: 1224px)";


html {
  background: #FAFAFA;
  font-family: $font;
}

img {
    width: 100%;
}

iframe {
  margin-top: 1em;
  width: 100%;
  height: 200px;
}

p {
  margin-top: 1em;
}

a {
  text-decoration: none;
  &:hover {
    color: darken(white, 20%);
  }
}

blockquote {
  margin-top: 1em;
  padding: 10px;
  background: grey;
  color: white;
  font: italic 1em Ubuntu, sans-serif;
  text-align: center;
  &:before {
    content: "\"";
  }
  &:after {
    content: "\"";
  }
}

footer {
  margin-top: 1em;
}