#burger {
  float: right;
}
#search {
  float: left;
}
header {
  text-align: center;
  text-shadow: 0 1px grey, $shadow;
  color: white;
  padding: $padding-mobile;
  background: $primary-color;
  border-bottom: 5px solid $dark-primary-color;
  a {
    color: white;
  }
  form {
    margin-top: 10px;
    color: black;
    display: block;
    padding: padding;
    input {
      padding: $padding-mobile;
      border-radius: 10px;
      width: 90%;
    }
  }
  button {
    background: grey;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  h1 {
    display: inline-block;
    font-size: 1em;
    padding: $padding-mobile;
  }
  nav {
    margin-top: 10px;
      ul, ol {
        padding: 0;
        list-style: none;
      }
      li {
        background: $light-primary-color;
        box-shadow: 0 1px 3px $dark-primary-color;
        &:first-child {
          border-radius: 5px 5px 0 0;
        }
        &:last-child {
          border-radius: 0 0 5px 5px;
        }
        &:hover {
          background: $dark-primary-color;
        }
        a {
          display: block;
          padding: $padding-mobile;
        }
      }
  }
}