@import "partials/normalize";
@import "partials/global";
@import "partials/layout";
@import "partials/nav";
@import "partials/footer";

#hero {
  position: relative;
  height: 150px;
  background: url('http://lorempixel.com/500/150'), $light-primary-color;
  a {
    background: $primary-color;
    border-radius: 5px;
    padding: $padding-mobile;
    position: absolute;
    top: 45%;
    left: 10%;
    &:hover {
      background: $dark-primary-color;
    }
  }
  p {
    color: white;
    text-shadow: $shadow;
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 25%;
    left: 60%;
  }
}

#marketing-points {
  section {
    display: inline-block;
    text-align: center;
    h1 {
      color: white;
      background: $primary-color;
      display: inline-block;
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
}

#filter {
  border: 1px solid grey;
  border-radius: 10px 10px 0 0;
  button {
    display: inline-block;
    float: left;
    width: 50%;
    background: grey;
    color: white;
    padding: $padding-mobile;
  }
  button[type="search"] {
    border-radius: 10px 0 0 0;
  }
  button[type="filter"] {
    border-radius: 0 10px 0 0;
  }
  select {
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 1.5em;
  }
  input {
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 1.5em;
  }
}
#document-list {
  text-align: center;
}
.document-item {
  margin: 5px;
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  a:hover {
    color: grey;
  }
}

.tag {
  display: inline-block;
  background: lighten(grey, 20%);
  border-radius: 5px;
  color: white;
  margin: 2px;
  padding: 2px 5px;
}
#load-list {
  display: inline-block;
  margin: auto;
  padding: 2px 5px;
  border-radius: 5px;
  background: lighten(grey, 20%);
  color: white;
}
#back-top {
  background: grey;
  color: white;
  position: fixed;
  top: 90%;
  right: 10%;
  a {
    position: relative;
    padding: 10px;
  }
}

#project-list {
  text-align: center;
}

.project-item {
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  h3 {
    background: grey;
    padding: 5px;
  }
  a {
    color: white;
    &:hover {
      color: lighten(grey, 20%);
    }
  }
}
.projectModule {
  a {
    display: block;
    padding: 5px;
    color: black;
  }
  background: #fafafa;
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    li {
      box-shadow: 0 1px 1px lighten(grey, 20%);
      text-align: center;
    }
  }
}

.module-item {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid grey;
  a {
    display: block;
    padding: 5px;
  }
}

#prevNextNav {
  span {
    margin: 10px 5px 0;
    a {
      color: white;
      display: inline-block;
      padding: 5px;
      background: grey;
      border-radius: 5px;
    }
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}

#module-content {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  label {
    display: inline-block;
    width: 90%;
    padding: 5px;
  }
  img {
    vertical-align: top;
  }
  [type="submit"] {
    margin-top: 5px;
    padding: 5px;
    float: right;
    background: grey;
    color: white;
  }
}

#cheatSheet {
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  h3 {
    padding: 5px;
    background: grey;
    color: white;
    cursor: pointer;
  }
}

#cheatSheetText {
  padding: 5px;
}

.option {
  border: 1px solid grey;
  margin-top: 5px;
  border-radius: 5px;
}
