@import "partials/normalize";
@import "partials/global";
@import "partials/nav";
@import "partials/footer";

/*****************************
Layout
*****************************/

div, section, nav, header, footer {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex {
  display: flex;
}

header,
main,
article,
aside,
footer {
  flex: 1 100%;
}

main {
  flex: 1;
  padding: $padding-mobile;
}
header, footer {
  flex: none;
}



/*****************************
index.html
*****************************/

#marketing-points,
#learning-guide {
  margin-top: 1em;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 25vh;
  text-align: center;
  @media #{$media-tablet} {
    justify-content: center;
    flex-flow: column nowrap;
    height: 40vh;
  }
  background: url('http://lorempixel.com/1000/300'), $light-primary-color;
  a {
    @media #{$media-tablet} {
      order: 2;
    }
    background: $primary-color;
    border-radius: $button-radius;
    padding: $padding-mobile;
    &:hover {
      background: $dark-primary-color;
    }
  }
  p {
    @media #{$media-tablet} {
      order: 1
    }
    color: white;
    text-shadow: $shadow;
    width: 30%;
    margin: 0;
  }
}

#marketing-points {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  section {
    @media #{$media-tablet} {
      flex: 1 0 0;
    }
    flex: 1 0 40%;
    text-align: center;
    padding: 5px;
    h1 {
      color: white;
      background: $primary-color;
      display: inline-block;
      padding: 20px;
      border-radius: 50%;
    }
  }
}

#follow-us {
  display: flex;
  background: grey;
  padding: 5px;
  justify-content: center;
  a {
    padding: 5px;
    margin: 0 10px;
    background: white;
  }
}

#cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  p {
    margin: 0 10px;
  }
  a {
    background: $primary-color;
    border-radius: $button-radius;
    font: 1.5em $font;
    padding: 10px;
  }
}

#as-seen {
  margin: 10px 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  font: 1.125em $font;
  text-align: center;
  p {
    flex: 1 100%;
    @media #{$media-tablet} {
      flex: 0 1 auto;
    }
  }
  a {
    background: grey;
    border-radius: $button-radius;
    padding: 30px;
    flex: 0 1 25%;
    @media #{$media-tablet} {
      flex: 0 1 auto;
    }
  }
}



/*****************************
Documentation List Page
*****************************/

.breadcrumb {
  background: grey;
  border-radius: $button-radius;
  padding: $padding-mobile;
  color: white;
  margin-bottom: 10px;
  li {
    display: inline-block;
    &:after {
      content: "/";
      margin: 0 5px;
    }
  }
}
.title {
  border-bottom: 1px solid black;
  text-align: right;
  @media #{$media-tablet} {
    margin-bottom: 20px;
  }
}
.filter {
  border: 1px grey solid;
  display: block;
  width: 100%;
  font-size: 1.125em;
  @media #{$media-tablet} {
    display: none;
  }
}
#doc-interface {
  @media #{$media-tablet} {
    display: flex;
    align-items: flex-start;
  }
}
.side-nav {
  display: none;
  @media #{$media-tablet} {
    display: inline-block;
    flex: 0 1 25%;
    li {
      background: grey;
      color: white;
      padding: 5px;
      border-bottom: 1px solid black;
      &.second-class {
        padding-left: 20px;
      }
      &:hover {
        background: lighten(grey, 10%);
      }
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
#document-list {
  @media #{$media-tablet} {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 75%;
  }
}
.document-item {
  padding: 5px;
  border-bottom: 1px solid black;
  a:hover {
    color: grey;
  }
  @media #{$media-tablet} {
    flex: 0 1 30%;
    border: 1px solid black;
    border-radius: $button-radius;
    margin: 0 0 10px 3.3333%;
  }
}

.tag {
  display: inline-block;
  background: lighten(grey, 20%);
  border-radius: 5px;
  color: white;
  margin: 2px;
  padding: 2px 5px;
}



/*****************************
Documentation Article Page
*****************************/

article {
  @media #{$media-tablet} {
    flex: 0 1 50%;
  }
  h1 {
    font: 2em $font;
  }
}

.suggestion {
  @media #{$media-tablet} {
    flex: 0 1 50%;
  }
}

.prev-next {
  display: flex;
  justify-content: center;
  button {
    background: grey;
    color: white;
    padding: $padding-mobile;
  }
}

.more-docs,
.project-suggestion {
  margin-top: 10px;
  text-align: center;
  ul {
    list-style: none;
  }
  a {
    border: 1px solid black;
    border-radius: $button-radius;
    display: inline-block;
    padding: $padding-mobile;
    margin-top: 10px;
  }
}

#back-top {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f00;
  bottom: 10%;
  right: 10%;
  @media #{$media-tablet} {
    display: none;
  }
  a {
    position: relative;
    padding: 10px;
  }
}

#project-list {
  text-align: center;
}

.project-item {
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  h3 {
    background: grey;
    padding: 5px;
  }
  a {
    color: white;
    &:hover {
      color: lighten(grey, 20%);
    }
  }
}
.projectModule {
  a {
    display: block;
    padding: 5px;
    color: black;
  }
  background: #fafafa;
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    li {
      box-shadow: 0 1px 1px lighten(grey, 20%);
      text-align: center;
    }
  }
}

.module-item {
  text-align: center;
  margin-top: 5px;
  border-bottom: 1px solid grey;
  a {
    display: block;
    padding: 5px;
  }
}

#prevNextNav {
  span {
    margin: 10px 5px 0;
    a {
      color: white;
      display: inline-block;
      padding: 5px;
      background: grey;
      border-radius: 5px;
    }
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}

#module-content {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  label {
    display: inline-block;
    width: 90%;
    padding: 5px;
  }
  img {
    vertical-align: top;
  }
  [type="submit"] {
    margin-top: 5px;
    padding: 5px;
    float: right;
    background: grey;
    color: white;
  }
}

#cheatSheet {
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  h3 {
    padding: 5px;
    background: grey;
    color: white;
    cursor: pointer;
  }
}

#cheatSheetText {
  padding: 5px;
}

#options {
  div {
    background: grey;
    padding: 5px;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: lighten(grey, 20%);
    }
  }
}

#question-number {
  display: inline-block;
  margin-bottom: 5px;
}

#nextQuestion {
  display: inline-block;
  float: right;
  padding: 5px;
  background: grey;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background: lighten(grey, 20%);
  }
}
