<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>@@title</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet'>
  <link rel="stylesheet" href="styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">zeniusEnglish</a></h1>
      <button id="search-btn" data-toggle="dropdown" data-target="#search" data-hide="#menu">S</button>
      <button class id="burger" data-toggle="dropdown" data-target="#menu" data-hide="#search">B</button>
      <nav id="menu" style="display: none">
        <ul>
          <li><a href="documentation.html">Documentation</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="#">Cara Belajar</a></li>
          <li> <a href="#">Beli Produk</a></li>
          <li><a href="#">Aktivasi Voucher</a></li>
          <li><a href="#">Login/Signup</a></li>
        </ul>
      </nav>
      <form id="search" style="display: none">
        <input type="search" placeholder="Cari konten di sini..">
      </form>
    </header>