  <footer>
    <section id="site-map">
      <section>
        <h4>Information</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </section>
      <section>
        <h4>Information</h4>
        <ul>
          <li><a href="#">Cara Belajar</a></li>
          <li><a href="#">Harga Produk</a></li>
          <li><a href="#">Beli Produk</a></li>
          <li><a href="#">Aktivasi Voucher</a></li>
        </ul>
      </section>
    </section>
    <section id ="social-media">
      <ul>
        <li><a href="#">t</a></li>
        <li><a href="#">f</a></li>
        <li><a href="#">g+</a></li>
      </ul>
    </section>
    <section id="address">
      <p>Jalan K.H. Abdullah Syafe'ie no. 20 Tebet, Jakarta Selatan, 12860 Indonesia</p>
    </section>
  </footer>
  <!-- build:js @@dest -->