  <footer>
    <section>
      <h4>Information</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </section>
    <section>
      <h4>Social Media</h4>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google+</a></li>
      </ul>
    </section>
  </footer>
  <script src="scripts/main.js" async></script>
</body>
</html>